{% extends 'layout.html' %}

{% block content %}
<h1>Statistics</h1>
<p> Youngest trout: {{youngest_trout}}</p> 
<p> Youngest named trout: {{ youngest_named }} (#{{youngest_named_num}})</p>
<p> Youngest unnamed trout: {{youngest_unnamed}}</p> 

<form>
        <label for="dropdown">Named Trouts List:</label>
        <select id="dropdown" name="dropdown">
            {% for key, value in named_trouts.items() %}
                <option value="{{ value }}" > {{ key }} {{value}}</option>
            {% endfor %}
        </select>
    </form>


    <div class="content">
        <form method="POST">
            <label for="trout_name">Enter Trout name:</label>
            <input type="text" id="trout_name" name="trout_name">
            <input type="submit" value="Show IDs">

        </form>

        <h2>IDs for Trout '{{ request.form.get('trout_name') }}':</h2>
        <ul>
            {% for id in id_from_name_list %}
                <li>{{ id }}</li>
            {% endfor %}
        </ul>

    </div>



 <!-- <p> Dictionary: {{processed_data}}</p>  -->
{% endblock %}
